body {
    width: 90%;
    margin: 1em auto;
    font-family:"Kaiti SC", Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p.en, h1.en, h2.en {
    display: none;
}
p {
    margin-bottom: 1em !important;
    font-size: 18px !important;
}

p.cn{
    letter-spacing: 0.1em;
}

img{
    width: 90% !important;
    text-align: center !important;
}

sup {
    margin-right: 0.5em;
}

.a {
    text-align: justify;
    text-decoration: underline;
    text-indent: 0
    }
.also_txt_ts {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.atp_website {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.att {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 3em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.att1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 3em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.bm_head {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.bm_head1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre3 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    font-weight: bold
    }
.chap_head {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.common_head {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.common_head1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.copy_txt {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.ded_pb {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.epi {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.fig_ {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    page-break-inside: avoid;
    text-align: center;
    width: 85%
    }
.fig_1 {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    page-break-inside: avoid;
    text-align: center;
    width: 90%
    }
.fig_2 {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    page-break-inside: avoid;
    text-align: center;
    width: 95%
    }
.fmbm_head {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.image_caption {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.image_credit {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.in_para {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.index_p {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: -1em
    }
.index_p1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1em
    }
.non_para {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.non_para_ts {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.non_paras {
    display: block;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.notes {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.right_ {
    line-height: 1.2
    }
.smallcaps {
    font-size: 0.9em
    }
.titlepage {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.toc_ch_be {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 1.75em;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.toc_ch_en {
    display: block;
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-left: 1.75em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.toc_fm {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 1.75em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

